# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
yarn-error.log

# System Files
.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#environment
src/environments/environment.ts
src/environments/environment.prod.ts
src/environments/environment.dev.ts
src/environments/environment.stag.ts
src/environments/index.ts
